[Desktop Entry]
Type=Service
Icon=smiley-shape
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=InstallApk;
Encoding=UTF-8

[Desktop Action InstallApk]
Name=Install Apk
Icon=smiley-shape
Exec=adb install %f
